<!doctype html>
<!-- standard html stuff -->
<style type="text/css" media="screen">
 {{resume['style']}}
</style>

<body>
  {{resume['name']}}
  <br>
  {{resume['contact']['phone']}} |
  <a href="mailto:{{resume['contact']['email']}}">{{resume['contact']['email']}}</a> |
  <a href="https://{{resume['contact']['linkedin']}}">{{resume['contact']['linkedin']}}</a>


{% for exp in resume['experience'] %}
  {{exp['position']}}
  {{exp['start_date']}}
  {{exp['to_date']}}
  {{exp['company']}}
  {{exp['location']}}

  <ul>
  {% for item in exp['summary'] %}
      <li>{{item}}</li>
  {% endfor %}
  </ul>
{% endfor %}
</body>
